# Dask패키지(가상 데이터프레임)
    -데이터베이스나 csv 파일의 데이터 양이 많은 경우 쓰임
    - Pandas 데이터프레임 형식으로 빅데이터를 처리하기 위한 패키지

In [1]:
import dask.dataframe as dd

In [4]:
df=dd.read_csv('C:/Lucky/data1.csv');df 
#df는 데이터프레임과 유사하지만 실제로 데이터를 메모리에 읽지 않았기 때문에 값은 표시되지 않음

Dask DataFrame Structure:
                time temperature humidity
npartitions=1
               int64       int64    int64
                 ...         ...      ...
Dask Name: from-delayed, 3 tasks

In [5]:
df.head()

   time  temperature  humidity
0     0           22        58
1     1           21        57
2     2           25        57
3     3           26        55
4     4           22        53

In [8]:
df.temperature.mean()

dd.Scalar<series-..., dtype=float64>

In [9]:
#위의 값을 실제로 구하려면 
df.temperature.mean().compute()

23.166666666666668

In [10]:
#temperature 열 갱신
#Pandas의 문법을 쓰지 못하고 assign 매서드를 사용해야한다. 
df=df.assign(temperature=df.temperature*9/5+32)
df.head()

   time  temperature  humidity
0     0         71.6        58
1     1         69.8        57
2     2         77.0        57
3     3         78.8        55
4     4         71.6        53

In [11]:
df. temperature.describe().compute()

count     6.000000
mean     73.700000
std       3.493422
min      69.800000
25%      71.600000
50%      72.500000
75%      76.100000
max      78.800000
Name: temperature, dtype: float64